* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #000;
  line-height: 1.5;
}

.product {
  border: 5px solid #000;
  width: 825px;
  margin: 50px auto;
  position: relative;

  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

.product-image {
  width: 250px;
  height: 250px;
}

.product-info {
  /* Calculation 825 - 10 - 250 - 80 = 485 / 2  = 242.5 Available Space of Product Info and Details */
  /*   width: 243px; */

  margin-top: 20px;
}

.product-sale-badge {
  position: absolute;
  top: -18px;
  left: -36px;
  display: inline-block;
  background-color: red;
  padding: 7px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.product-title {
  font-size: 22px;
  background-color: #f5f5f5;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;

  grid-column: 1 / -1;
}

.product-ps-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-price {
  font-size: 22px;
  font-weight: bold;
}

.product-shipping {
  text-transform: uppercase;
  font-weight: bold;
  color: #bababa;
  font-size: 14px;
}

.product-info-text {
  margin-bottom: 15px;
}

.more-info:link,
.more-info:visited {
  color: #000;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.product-colors {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.color {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

/* Product Details */

.product-details {
  margin-top: 20px;
}

.product-detail-text {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.product-details-list {
  list-style-type: square;
  font-size: 16x;
  margin-left: 20px;
  margin-bottom: 15px;
}

.product-detail-item {
  margin-bottom: 10px;
}

.product-detail-item:last-child {
  margin-bottom: 0;
}

.btn-add-cart {
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  border-top: 5px solid #000;

  grid-column: 1 / -1;
}

.btn-add-cart:hover {
  background-color: #fff;
  color: #000;
}
